   /*reset css  */
            /* common */
   * {
       padding: 0;
       margin: 0;
       box-sizing: border-box;
   }
   html {
       scroll-behavior: smooth;
        font-family: Arial, Helvetica, sans-serif;
   }
   .text-white {
       color: #fff !important;
   }
   .mt-8 {
       margin-top: 8px !important;
   }
   .mt-16 {
       margin-top: 16px !important;

   }
   .mb-16 {
       margin-bottom: 16px;
   }
   .text-center {
    text-align: center !important;
}
    .pull-right {
        float: right !important ;
    }
   .row {
       margin-left: -8px;
       margin-right: -8px;
       overflow: hidden;

   }
   /* .row::after {
       content: "";
       display: block;
       clear: both;
   } */
   .col { 
       float: left;
        padding-left: 8px;
        padding-right: 8px;
        /* overflow: hidden; */
   }
   .col-full {
    width: 100%;
   }
   .col-half {
       width: 50%;
   }
   .col-third {
       width: 33.33333%;
   }
   
   .btn {
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    display: inline-block;
}
    .btn:hover {
    color: #000;
    background-color: #ccc;
}
   
   /* nguyên tắc làm web
        1.từ ngoài vào trog
        2.từ trên xuống dưới
        3.từ tổng quuan đén chi tiết */
    
    /* thứ tự làm css
        1.vị trí
        2.kích thước(width,height)
        3.màu sắc
        4.kiểu dáng(vuôn,tròn,.....) */

                    /* main */
    #main {  
       

   }
   
   #header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 46px;
        background-color: #000;
        z-index: 1;
       
   }
    #nav {
        display: inline-block;
    }
    #nav, 
    .subnav { 
        list-style-type: none;
    }
    
    #nav > li {
        display: inline-block;
     }  
    
     #nav li {
    position:relative;
    
    
    }
    
    #nav > li > a {
        color: #fff;
        text-transform: uppercase;
        line-height: 46px;
    }
    #nav li a {
        
        font-size: 26px;
        text-decoration: none;
        line-height: 46px;
        padding: 0 24px;
        display: block;
    }
    #nav li:hover .subnav {
        display: block;
    }
    #nav > li:hover > a,
    #nav .subnav li:hover a {
        color: #000;
        background-color: #ccc;
    
    }
    #nav .nav-arrow-down {
        font-size: 14px;
        
    }
    
    #nav .subnav {
         display: none; 
         position: absolute; 
         top: 100%;
         left: 0;
         min-width: 280px;
        background-color: #fff;
        box-shadow: 0 0 20px rgba(0,0,0,0.5);
       


    }
    #nav .subnav li {
        display: block;
    } 
    #nav .subnav a {
       color:#000;
       padding: 0 12px;
       line-height: 38px;

    }
    #header .mobile-menu-btn {
        top: 0;
        right: 0;
        position: absolute;
        display: none;
    }

    #header .search-btn,
    #header .mobile-menu-btn
     {
        float: right;
        padding: 0 22px;
        line-height: 46px;
      
    }
    #header .search-btn:hover
     {
        background-color: #f44336;
        cursor: pointer;
    } 
    #header .mobile-menu-btn:hover {
        background-color: #ccc;
    }
    #header .mobile-menu-btn:hover .menu-header-icon {
        color: #000;

    }
    #header .search-icon, 
    #header .menu-header-icon {
        color: #fff;
        font-size: 20px;
       
       
    }

     
    /* slider */
    
   #slider {
    position: relative;
    margin-top: 46px;
    color:#fff;
    padding-top: 50%;
    background-color:#fff;
    background: url("/assets/img/slider/slider1.jpg") top center / cover no-repeat;
     

    }
    #slider .text-slider {
    position: absolute;
    bottom: 48px;
     left: 50%;
     transform: translateX(-50%); 
    width: 100%;
    text-align: center; 

    }
    #slider .text-heading {
        font-weight: 500;
        font-size: 24px;
        margin-bottom: 25px;
    }
    #slider .text-discription {
        font-size: 15px;
    }
                        /* content */
                        
    #content {
        height: 1000px;

    }
    #content .content-section {
        width: 800px;
        max-width: 100%;
        margin-right: auto;
        margin-left: auto;
        padding: 64px 0 112px;
        padding-left: 16px;
        padding-right: 16px;
        
    }
    #content .content-heading {
        text-align: center;
        font-size: 30px;
        font-weight: 500;
        letter-spacing: 4px;
    }
    #content .content-sub-heading {
        text-align: center;
        font-size: 15px;
        margin-top: 25px;
        font-style: italic;
        opacity: 0.6;

    }
    #content .about-text {
        font-size: 15px;
        margin-top: 25px;
        text-align: justify;
        line-height: 1.5;
    }
    #content .member-list {
        overflow: hidden;
        margin-top: 32px;
        text-align: center;
    }
    /* #content .member-item {
       
        width: 33.33333%; 
       
        
    } */
    #content .member-name {
        margin: 15px 0;
        font-size: 15px;
    }
    #content .member-img {
        border-radius: 4px;
        width: 154px;
    }
                    /* tour */
    #content .tour-section {
        background-color: black;
        
    }
    #content .ticket-list {
        background-color: #fff;
        margin-top: 40px;

    }
    .ticket-list li {
    font-size: 15px;
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
    color: #757575;
    list-style-type: none;
    }
    .ticket-list .sold-out {
        background-color: #f44336;
        color: #fff;
        padding: 3px 4px;
        margin-left: 16px;

    }
    .ticket-list .quantity {
        float: right;
        margin-top: -3px;
        border-radius: 50%;
        padding: 3px 8px;
        color: #fff;
        background-color: #000;
        text-align: center;
    }
    .place-list {
         overflow: hidden; 
        margin-top: 16px;
       
        
    }
        /* padding: 32px; */
      /* .place-item {
         float: left;
         
         padding-left: 8px;
         padding-right: 8px;
         width: 33.33333%;
    }  */

       
    


    .place-img {
        width: 100%;
        display: block;

    }
    .place-img:hover {
        opacity: 0.6;
   
    }


    .place-body {
        background-color: #fff;
        padding: 16px;
        font-size: 15px;
        line-height: 1.5;
        
    }

    .place-heading {
       
    }


    .place-time {
        opacity: 0.60;
        margin-top: 15px ;


    }

    .place-description {
        margin: 15px 0   ;
        
    }

    
    
    
    .modal {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: ;
        background: rgba(0, 0, 0, 0.4);
        display: none;
        align-items: center;
        justify-content: center;
    }
    .modal.open {
        display: flex;
    }
    .modal-container {
        background-color: #fff;
        width: 900px;
        max-width: calc( 100% - 64px );
        min-height: 200px;
        position: relative;
        animation: modalFadeIn ease 0.5s;

    }
    .modal-close {
        position: absolute;
        top: 0;
        right: 0;
        padding: 12px;
        cursor: pointer;
    }
    .modal-close:hover {
        background-color: red;
        color: #fff;
    }
    .modal-bag-icon {
        margin-right: 16px;
    }
    .modal-header {
        height: 130px;
        background-color: #009688;
        color: #fff;
        font-size: 30px;
        letter-spacing: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .modal-body {
        padding: 15px;
    }
    .modal-label {
        display: block;
    }
    .modal-input {
        width: 100%;
        border: 1px solid #ccc;
        padding: 12px;
        margin-top: 15px ;
        margin-bottom: 26px;
    }
                    /* pay-button */
    #pay-button {
        width: 100%;
        border: none;
        padding: 16px;
        font-size: 16px;
        text-transform: uppercase;
        background-color: #009688;
        color: #fff;
        cursor: pointer;                
    } 
    #pay-button:hover {
        color: #000;
        background-color: #ccc;
    }
    .modal-footer {
        padding: 16px;
        text-align: right;
    }
                /* tạo chuyển động kéo xuống cho modal container */
    @keyframes modalFadeIn {
        from {
            opacity: 0;
            transform: translateY(-140px);

        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
                /* contact */
    .contact-content {
        margin-top: 48px;
    }
    .contact-info {
        font-size: 18px;
        line-height: 1.5;
    }
    .contact-info i[class*="ti-"] {
        width: 30px ;
        display: inline-block;
    }
    .contact-form {
        font-size: 15px;
    }
    .contact-form .form-control {
        padding: 8px;
        border: 1px solid #ccc;
        width: 100%;
        outline: none;
    }
    /* .contact-form .form-submit-btn {
        padding: 11px 15px;
        background-color: #000;
        color: #fff;
        float: right;
        
        font-size: inherit;
        cursor: pointer;
        border: 1px solid;
    }
    .contact-form .form-submit-btn:hover {
        background-color: #ccc;
        color: #000;
        border: none; */

 /* map section */
    .map-section img {
        width: 100%;
    }

/* footer */
    #footer { 
        padding: 64px 16px;
        text-align: center;
        
    }
    #footer .social-list  {
       
        font-size: 24px;
        

    }
    #footer .social-list  a {
        text-decoration: none;
        opacity:  .6;
        color: #000;
    }
    #footer .social-list  a:hover {
        opacity: .3;
    }
    #footer .copyright,
    #footer .copyright a {
        margin: 15px 0;
        opacity:  .6;
        color: #000;
    }
   
